* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.container > .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container > .header-info > h1 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    line-height: 72px;
    letter-spacing: -2%;
    max-width: 700px;
    color: #052c41;
}

.container > .header-info > span {
    background: #ffffff;
    padding: 4px;
    border: 1px solid #d0d5dd;
    border-radius: 10px;
}

.container > .header-info > span > span {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #ffffff;
    padding: 2px 8px 2px 8px;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    /* typography */
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

/*.container > .header-info > span > span > label {*/
/*    gap: 2px;*/
/*    background: #04d2ff;*/
/*    border: 1px solid #d0d5dd;*/
/*    min-width: 12px;*/
/*    min-height: 12px;*/
/*    border: 3px solid #ccf6ff;*/
/*    border-radius: 100%;*/
/*}*/

.circle, .circle::before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s;
    background-color: #04d2ff;
}

.circle::before {
    animation: mymove 2s infinite;
    position: absolute;
    background-color: #04d2ff;
}

@-webkit-keyframes mymove {
    50%   {
        transform: scale(2);
        opacity: 0
    }
    100%   {
        transform: scale(2);
        opacity: 0
    }
}

.container > .header-info > small {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    letter-spacing: -2%;
    color: #475467;
    max-width: 494px;
}

.container > .mobile-tablet {
    position: relative;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.container > .mobile-tablet > img:first-child {
    position: absolute;
    left: 100px;
    top: 49px;
    width: 244px;
}

.container > .mobile-tablet > img:last-child {
    width: 100%;
    max-width: 768px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;



}

nav.menu-fixed {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 10%);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 10%);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 10%);
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 12%);
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin: 0;
    padding: 0;
    display: block;
    height: 36px;
}

nav svg {
    height: 100%;
    width: auto;
}

nav ul li a {
    display: block;
    padding: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #475467;
    font-size: 16px;
    line-height: 44px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

nav ul li a:hover {
    border-bottom: 2px solid #00359e;
    color: #00359e;
    background-color: rgba(0, 0, 0, 2%);
}

nav ul li + li {
    margin-left: 1rem;
}

.auth-buttons > a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.auth-buttons > a:active {
    transform: scale(0.95);
}

.auth-buttons > a + a {
    margin-left: 1rem;
}

.auth-buttons > a:last-child {
    color: #04d2ff;
    background-color: #052c41;
    /* border: 1px solid #052C41; */
}

.auth-buttons > a:first-child {
    color: #052c41;
    /* border: 1px solid #052C41; */
}

.auth-buttons > a:first-child:hover {
    color: #04d2ff;
    background-color: #052c41;
}

.auth-buttons > a:last-child:hover {
    color: #052c41;
    background-color: #fff;
}

.button {
    position: relative;
}

.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.1;
    clip-path: circle(0 at center);
    transition: 500ms ease-out;
}

.button:active:before {
    clip-path: circle(100px at center);
}

.placeholder {
    height: 80px;
}

.bn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    padding-top: 100px;
    display: -moz-grid;
    display: -ms-grid;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
}

/* .bn-wrapper h1 {
  margin-bottom: 2rem;
} */

.bn-wrapper .banner {
    width: 100%;
    max-width: 100%;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
}

.feature-cards > li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #f9fafb;
    padding: 24px;
    border-radius: 16px;
}

.feature-cards > li > h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

.feature-cards > li > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

.feature-cards > li > span {
    max-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b8ebff;
    padding: 12px;
    border: 8px solid #dff4ff;
    border-radius: 100%;
}

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;
}

.before-footer-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
}

.before-footer-cards > li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #f9fafb;
    padding: 24px;
    border-radius: 16px;
}

.before-footer-cards > li > h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

.before-footer-cards > li > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

.before-footer-cards > li > span {
    max-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04d2ff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 64px;
}

/* ------------------ */
.benefits-cards > li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #f9fafb;
    padding: 24px;
    border-radius: 16px;
}

.benefits-cards > li > h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

.benefits-cards > li > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

.benefits-cards > li > span {
    max-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04d2ff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 64px;
}

.feuter-container {
    display: flex;
    gap: 32px;
}

.feuter-container > .banner {
    background: #f9fafb;
    border-radius: 24px;
    padding: 16px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bn-wrapper .main-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bn-wrapper .main-content > small {
    color: #04d2ff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: -20px;
}

.bn-wrapper .main-content > h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #101828;
}

.bn-wrapper .main-content > p {
    font-size: 20px;
    font-weight: 400;
    color: #475467;
}

.banner > .mobile-mobile {
    display: flex;
    width: 100%;
    flex: 1;
}

.banner > .mobile-mobile > img:first-child {
    /* position: absolute; */
    max-width: 250px;
    width: 100%;
    margin-top: 74px;
    margin-right: -60px;
}

.banner > .mobile-mobile > img:last-child {
    max-width: 252px;
    width: 100%;
    /* position: absolute; */
    margin-top: 10px;
    margin-left: 0;
}

/* ------------------FOOTER------------------ */
footer {
    background-color: #052c41;
    color: #fff;
    padding: 32px 0px;
}

footer .container {
    display: flex;
    align-items: center;
    /* width: 100%; */
    justify-content: space-between;
}

footer .container a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    /* margin-top: 1rem; */
}

.paragraph-text {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    font-size: 20px;
    font-weight: 400;
    color: #475467;
}

footer .container p {
    text-align: end;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98a2b3;
}

footer > .container > ul {
    list-style: none;
    display: flex;
    gap: 32px;
    width: max-content;
}

nav .hamburger {
    display: none;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1180px) {
    footer > .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mac-book {
        display: none !important;
    }

    .banner > .mobile-mobile {
        display: flex;
        justify-content: end;
        width: 100%;
        /* width: auto; */
        margin: auto;
    }

    .banner > .mobile-mobile > img:first-child {
        max-width: 180px;
        width: 100%;
        margin-top: 74px;
        margin-right: -60px;
    }

    .banner > .mobile-mobile > img:last-child {
        max-width: 182px;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .feuter-container {
        flex-direction: column-reverse;
    }

    .container {
        max-width: 100%;
        margin: 0 1.5rem;
    }

    .container > .mobile-tablet > img:first-child {
        position: absolute;
        left: 100px;
        top: auto;
        bottom: -50px;
        max-width: 200px;
    }

    .container > .mobile-tablet > img:last-child {
        width: 80%;
        margin-left: auto;
    }
}

@media (max-width: 992px) {
    .banner > .mobile-mobile {
        display: flex;
        justify-content: center;
        width: 100%;
        /* width: auto; */
        margin: auto;
    }

    .benefits-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 32px;
    }


    .container > .mobile-tablet > img:first-child {
        position: absolute;
        left: 100px;
        top: auto;
        bottom: -30px;
        max-width: 180px;
    }

    .container > .mobile-tablet > img:last-child {
        width: 80%;
        margin-left: auto;
    }

    footer .container {
        grid-template-columns: 1fr 1fr;
    }

    nav .logo,
    nav ul {
        display: none;
    }

    nav .hamburger {
        display: block;
        padding: 1rem;
        cursor: pointer;
    }

    nav.open ul {
        position: absolute;
        top: 70px;
        display: block !important;
        background-color: #fff;
        left: 0;
        right: 0;
        box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 10%);
        animation: animateIn 300ms ease-in;
    }

    nav ul li {
        margin-left: 0 !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav ul li a {
        padding: 0.5rem 1rem;
    }

    .h-content {
        grid-template-columns: 1fr;
    }

    .help-text {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .help-text h1,
    .help-text p {
        flex: 1;
        text-align: center !important;
    }

    .help-content {
        grid-template-columns: 1fr;
    }

    .dash {
        display: -ms-flexbox;
        display: -moz-flex;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .dash p {
        max-width: initial;
        text-align: center;
    }

    .m-content {
        align-items: flex-start;
    }

    .m-content img {
        display: none;
    }
}

@media (max-width: 768px) {
    .paragraph-text {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    .container > .mobile-tablet > img:first-child {
        position: absolute;
        left: 50px;
        top: auto;
        bottom: -10%;
        max-width: 130px;
        width: 25%;
    }

    .container > .mobile-tablet > img:last-child {
        width: 80%;
        margin-left: auto;
        margin-bottom: auto;
    }

    .bn-wrapper .main-content > h1 {
        font-size: 28px;
        line-height: 44px;
        font-weight: 600;
        color: #101828;
    }

    .bn-wrapper .main-content > p {
        font-size: 16px;
        font-weight: 400;
        color: #475467;
    }

    .container > .header-info > h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .container > .header-info > small {
        font-size: 18px;
        line-height: 26px;
    }

    footer .container {
        grid-template-columns: 1fr;
    }

    .bn-wrapper {
        display: block;
        padding: 125px 0px 50px;
    }

    .bn-wrapper > div.main-content {
        max-width: 100%;
    }

    .bn-wrapper .banner {
        display: none;
    }

    .visible {
        display: flex !important;
    }

    .bn-wrapper .main-content > * {
        max-width: initial;
        text-align: center;
    }

    .bn-wrapper {
        padding: 50px 0;
    }
}

@media (max-width: 550px) {
    .feature-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    .before-footer-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    .benefits-cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 32px;
    }

    .container > .mobile-tablet > img:first-child {
        position: absolute;
        left: 0;
        top: auto;
        bottom: -10%;
        max-width: 130px;
        width: 25%;
    }

    .container > .mobile-tablet > img:last-child {
        width: 90%;
        margin-left: auto;
        margin-bottom: auto;
    }

    .container > .header-info > h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .container > .header-info > small {
        font-size: 16px;
        line-height: 24px;
    }
}

.splt-txt .whitespace {
    width: 8px;
}
.splt-txt.animated .char {
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInRight 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--char-index));
    animation-delay: calc(30ms * var(--char-index));
}