@@include('./partials/header.html')

<body>
    @@include('./partials/load.html')
    @@include('./partials/navbar-secondary.html')

    <div class="ScrollSmoother-content">

        <main>

            <!-- Banner area start here -->
            <section class="banner-inner-area">
                <div class="container">
                    <div class="banner-inner__content">
                        <a href="index.html">home</a><span>/about us</span>
                        <h2>About Us</h2>
                        <p>We will help a client's problems to develop the products they have with high quality Change
                            the
                            appearance.</p>
                    </div>
                </div>
            </section>
            <!-- Banner area end here -->

            <div class="banner-video mt-0">
                <div class="container">
                    <div class="banner-video__image image">
                        <img src="assets/video/cover.jpg" alt="image">
                        <div class="banner-video__btn inner-page">
                            <div class="video-btn video-pulse">
                                <a class="video-popup" href="/assets/video/video.mp4"><i class="fa-solid fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Brand area start here -->
            <div class="brand-area pt-120">
                <div class="container">
                    <div class="marquee-area">
                        <div class="marquee__wrp">
                            <div class="marquee__slide brand__slider">
                                <div class="marquee__item-wrp">
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/1.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/2.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/3.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/4.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/5.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/6.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/7.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/8.png" alt="image">
                                    </div>
                                </div>
                                <div class="marquee__item-wrp ">
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/1.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/2.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/3.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/4.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/5.png" alt="image">
                                    </div>
                                    <div class="marquee__item d-flex justify-content-center align-items-center">
                                        <img src="assets/icons/org/6.png" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand area end here -->

            <!-- Fanfact area start here -->
            <section class="fanfact-area pt-120 pb-120">
                <div class="container">
                    <div class="row g-4 justify-content-between">
                        <div class="col-lg-5">
                            <div class="fanfact__item-left">
                                <h2>Transforming Your Vision into an Unforgettable Reality</h2>
                                <p class="mb-40">We are more than just a consultancy; we are architects of innovation,
                                    builders of dreams.</p>
                                <h2>Our Mission </h2>
                                <p class="mb-30">We transform concepts into successful ventures. Whether you're a
                                    visionary
                                    entrepreneur or a creative dreamer.</p>
                                <h2>Our Vision</h2>
                                <p>Our vision is to pioneer transformative innovation, setting new standards for
                                    excellence
                                    and impact in every venture.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="mb-60 fw-300">We Take Your Ideas And Make Them Happen</h2>
                            <div class="fanfact__item-right">
                                <div class="fanfact__item mb-60">
                                    <h2 class="mb-10"><span class="count">40</span>+</h2>
                                    <strong>Completed Projects</strong>
                                </div>
                                <div class="fanfact__item">
                                    <h2 class="mb-10"><span class="count">100</span>K+</h2>
                                    <strong>Satisfied Users</strong>
                                </div>
                                <div class="fanfact__item">
                                    <h2 class="mb-10"><span class="count">15</span>+</h2>
                                    <strong>Years of Expertise</strong>
                                </div>
                                <div class="fanfact__item">
                                    <h2 class="mb-10"><span class="count">18</span>+</h2>
                                    <strong>Dynamic Team Members</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fanfact area end here -->

            <!-- Book area start here -->
            <section class="book-area">
                <div class="container">
                    <div class="book__wrp">
                        <div class="book__shape1">
                            <img src="assets/images/shape/book-star.png" alt="shape">
                        </div>
                        <div class="book__shape2">
                            <img src="assets/images/shape/book-star.png" alt="shape">
                        </div>
                        <div class="book__left-arry">
                            <img src="assets/images/shape/book-btn-left.png" alt="shape">
                        </div>
                        <div class="book__right-arry">
                            <img src="assets/images/shape/book-btn-right.png" alt="shape">
                        </div>
                        <div class="book__item">
                            <h2>Let's Do Something <span>Amazing <img src="assets/images/shape/title-line-book.png"
                                        alt="shape"></span> Together!</h2>
                            <p class="mt-20 mb-25">Ready to elevate your online presence? Get in touch with us today for
                                personalized <br> solutions tailored to your business needs.</p>
                            <a href="/contact-us.html" class="btn-two border-none mt-45">Contact with us</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Book area end here -->

        </main>


    </div>


@@include('./partials/footer.html')
<button id="back-top" class="btn-backToTop">
    <i class="fa-solid fa-chevron-up"></i>
</button>
</body>
@@include('./partials/end.html')
