@@include('./partials/header.html')

<body>
@@include('./partials/load.html')
@@include('./partials/navbar-secondary.html')
<div class="ScrollSmoother-content">
    <main>
        @@include('./partials/project_detail.html',{
        "name": "Pikir menu website",
        "main": "assets/icons/projects/menu/1.png",
        "desc": "At Pikir menu, we designed and developed a user-centric website to enhance the online presence of our client. Our team meticulously crafted an intuitive interface and seamless user experience, ensuring easy navigation and engagement. By integrating modern design aesthetics with robust functionality, we delivered a platform that effectively communicates the client's brand message and meets their business objectives.",
        "cats": [
                "Content",
                "UX/UI Design",
                "Web development"
            ],
            "images": [
            'assets/icons/projects/menu/2.png',
            'assets/icons/projects/menu/3.png',
            'assets/icons/projects/menu/4.png',
            'assets/icons/projects/menu/5.png',
            'assets/icons/projects/menu/6.png',
            'assets/icons/projects/menu/7.png',
            ]
        })
    </main>
</div>

@@include('./partials/footer.html')
<button id="back-top" class="btn-backToTop">
    <i class="fa-solid fa-chevron-up"></i>
</button>
</body>
@@include('./partials/end.html')