@@include('./partials/header.html')

<body>
@@include('./partials/load.html')
@@include('./partials/navbar-secondary.html')
<div class="ScrollSmoother-content">
    <main>
        @@include('./partials/project_detail.html',{
        "name": "RM car washing service mobile application",
        "main": "assets/icons/projects/rm-mobile/1.png",
        "desc": "Introducing our innovative car washing web application, a solution designed to revolutionize the car wash experience. With this app, users can easily find and reserve car wash garages by checking the current availability status, ensuring they choose a convenient time and location. The app offers a variety of customizable cleaning services, allowing users to select different types of foam washes, vacuuming options, and more, tailored to their specific needs. After dropping off their vehicle, users can track the progress of their car wash in real-time, providing peace of mind and transparency throughout the process. The feedback feature enables users to share their experiences and rate the service, contributing to continuous improvement in service quality. Our dedicated admin panel streamlines operations and ensures a smooth and efficient experience for both users and service providers.",
        "cats": [
                "UX/UI Design",
                "Android app",
                "iOS app"
            ],
            "images": [
            'assets/icons/projects/rm-mobile/2.png',
            'assets/icons/projects/rm-mobile/3.png',
            'assets/icons/projects/rm-mobile/4.png',
            ]
        })
    </main>
</div>

@@include('./partials/footer.html')
<button id="back-top" class="btn-backToTop">
    <i class="fa-solid fa-chevron-up"></i>
</button>
</body>
@@include('./partials/end.html')