<div class="service-four__accordion accordion-four">
    <div class="accordion" id="accordionExample4">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne4">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4"
                    aria-expanded="true" aria-controls="collapseOne4">
                    <span class="main-wrp">
                        <span class="sub-wrp">
                            <span class="acc-number">01</span>
                            <span class="acc-title">Web Development</span>
                        </span>
                        <span class="acc-text">
                            Build responsive and high-performing websites. Our web development solutions ensure seamless
                            user experiences and robust functionality.
                        </span>
                    </span>

                </button>
            </h2>
            <div id="collapseOne4" class="accordion-collapse collapse show" aria-labelledby="headingOne4"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                    <div
                        class="swiper service-four__slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-42ccbc381dce6a6e" aria-live="polite"
                            style="transform: translate3d(0px, 0px, 0px);">

                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/rm-web/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Web application</a><a href="/"
                                                previewlistener="true">Admin Dashboard</a></div>
                                    </div>

                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">RM car washing service web application<sup>TM</sup></a>
                                            </h3>
                                            <p class="fs-16 line__clamp">Our project is a comprehensive car washing web
                                                application designed to enhance convenience and efficiency for users
                                                seeking car wash services. The app allows users to locate and reserve
                                                car wash garages by checking the real-time availability, see which ones
                                                are occupied or free, and make reservations accordingly. Users can
                                                select from a variety of car cleaning services, including different
                                                types of foam washes and vacuuming options. Once the car is handed over
                                                for washing, the app enables users to monitor the status of their car
                                                wash in real-time. Additionally, users can rate and review the car wash
                                                services, helping to improve quality and customer satisfaction. To
                                                ensure seamless service management and user experience, we have also
                                                developed a robust admin panel for overseeing operations.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/magnit/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Project planning</a><a
                                                href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Frontend</a><a href="/"
                                                previewlistener="true">Backend</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Magnit e-commerce website<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">Experience the convenience of shopping from the
                                                comfort of your home with Magnit's comprehensive online store. Our newly
                                                designed website features an intuitive interface that makes finding and
                                                purchasing your favorite products easier than ever. With a wide range of
                                                categories, exclusive deals, and detailed product descriptions, our
                                                platform ensures you have all the information you need at your
                                                fingertips. Supported by a robust backend system and an efficient admin
                                                panel, we guarantee a smooth, secure, and reliable shopping experience.
                                            </p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 6"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/ariator/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Website</a><a href="/"
                                                previewlistener="true">Dashboard</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Ariator Website<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">Ariator Aviation is dedicated to provide
                                                reliable, effective and efficient service for airlines and airport by
                                                supporting on technical and technological aspects and provision of
                                                necessary equipment and systems.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 6"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/menu/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Content</a><a href="/"
                                                previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Web development</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Pikir menu website<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">At Pikir menu, we designed and developed a
                                                user-centric website to enhance the online presence of our client. Our
                                                team meticulously crafted an intuitive interface and seamless user
                                                experience, ensuring easy navigation and engagement. By integrating
                                                modern design aesthetics with robust functionality, we delivered a
                                                platform that effectively communicates the client's brand message and
                                                meets their business objectives.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 6"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/akyol/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Frontend</a><a href="/"
                                                previewlistener="true">Backend</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Akyol drinks website<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">We had the privilege of designing and
                                                developing the website for Akyol, a leading manufacturer of energetic
                                                and fizzy drinks in Turkmenistan. Our team handled both the front-end
                                                and back-end development, creating a vibrant and user-friendly platform
                                                that showcases Akyol's diverse range of beverages.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="6 / 6"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/jankoyer/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Frontend</a><a href="/"
                                                previewlistener="true">Backend</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Jankoyer - Turkmenistan Football media
                                                    service<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">At our company, we designed and developed the
                                                front-end and back-end for Janköýer, Turkmenistan's leading national
                                                football news website. The platform delivers real-time updates,
                                                comprehensive league tables, and in-depth analyses, providing fans with
                                                the latest news and insights into Turkmen football.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="mt-40">
                        <div class="position-relative">
                            <div class="service-four__scrollbar swiper-scrollbar-horizontal">
                                <div class="swiper-scrollbar-drag"
                                    style="transform: translate3d(0px, 0px, 0px); width: 433.577px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                    <span class="main-wrp">
                        <span class="sub-wrp">
                            <span class="acc-number">02</span>
                            <span class="acc-title">Mobile Development</span>
                        </span>
                        <span class="acc-text">Delivering customized mobile applications with intuitive interfaces.
                            Optimize performance and user engagement across all platforms..</span>
                    </span>

                </button>
            </h2>
            <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                    <div
                        class="swiper service-four__slider-item2 swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div class="swiper-wrapper" id="swiper-wrapper-2be7c68ce4491576" aria-live="polite"
                            style="transition-duration: 0ms;">
                            <div class="swiper-slide">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/kidsplaza/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Logo design</a><a href="/"
                                                previewlistener="true">Identity</a><a href="/"
                                                previewlistener="true">Package Design </a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Kidsplaza Mobile Appp<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">Your go-to e-commerce app for stylish and comfy
                                                children's clothing. From everyday wear to special occasions, find the
                                                perfect attire for your little ones with ease through app. Project is
                                                available in App store and Play store.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="mt-40">
                        <div class="position-relative">
                            <div class="service-four__scrollbar-item2 swiper-scrollbar-horizontal">
                                <div class="swiper-scrollbar-drag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                    <span class="main-wrp">
                        <span class="sub-wrp">
                            <span class="acc-number">03</span>
                            <span class="acc-title">UX/UI Design</span>
                        </span>
                        <span class="acc-text">Crafting user-centered designs that enhance usability and satisfaction.
                            Focus on creating visually appealing and functional digital interfaces.</span>
                    </span>

                </button>
            </h2>
            <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                    <div
                        class="swiper service-four__slider-item3 swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div class="swiper-wrapper" id="swiper-wrapper-fde959bd4f359615" aria-live="polite"
                            style="transition-duration: 0ms;">
                            <div class="swiper-slide">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/timix/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Mapping the project </a><a
                                                href="/" previewlistener="true">Project planning - Conulstation</a><a
                                                href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Design System</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Timix HR Management System Web Application<sup>TM</sup></a>
                                            </h3>
                                            <p class="fs-16 line__clamp">Keep your employees in one place. This HR
                                                website helps our local firms to keep track of each responsibility,
                                                working hours, to make it more efficient. We mapped the project, created
                                                user-flow, Information Architecture with Developers then Designed the
                                                project. Project build with Ant Design System.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full Project<span><i
                                                    class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="mt-40">
                        <div class="position-relative">
                            <div class="service-four__scrollbar-item3 swiper-scrollbar-horizontal">
                                <div class="swiper-scrollbar-drag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                    <span class="main-wrp">
                        <span class="sub-wrp">
                            <span class="acc-number">04</span>
                            <span class="acc-title">Branding</span>
                        </span>
                        <span class="acc-text">Develop distinctive and cohesive brand identities. From logo design to
                            typography, we create memorable and impactful brand elements
                        </span>
                    </span>
                </button>
            </h2>
            <div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour4"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                    <div
                        class="swiper service-four__slider-item4 swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div class="swiper-wrapper" id="swiper-wrapper-21026fb862538a748" aria-live="polite"
                            style="transition-duration: 0ms;">

                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/ragbat/5.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Branding &amp;
                                                Identity</a><a href="/" previewlistener="true">Logo design</a><a
                                                href="/" previewlistener="true">Brand Guideline</a><a href="/"
                                                previewlistener="true">Catalogue Design</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Ragbat Brand Identity<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">Embodies progress and innovation in the
                                                chemical industry, specializing
                                                in producing chemicals and mixtures tailored for various applications,
                                                including the food
                                                industry. The brand exudes a sense of reli-ability, sustainability, and
                                                advancement, positioning
                                                itself as a leader in driving positive change within the chemical
                                                sector.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full
                                            Project<span><i class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/kopetdag/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Branding &amp;
                                                Identity</a><a href="/" previewlistener="true">Logo design</a><a
                                                href="/" previewlistener="true">Brand Guideline</a><a href="/"
                                                previewlistener="true">Package Design</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Kopetdag Mineral Water Package Design<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">Embodies progress and innovation in the
                                                chemical industry, specializing
                                                in producing chemicals and mixtures tailored for various applications,
                                                including the food
                                                industry. The brand exudes a sense of reli-ability, sustainability, and
                                                advancement, positioning
                                                itself as a leader in driving positive change within the chemical
                                                sector.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full
                                            Project<span><i class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 5"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/abat/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">UX/UI Design</a><a href="/"
                                                previewlistener="true">Web application</a><a href="/"
                                                previewlistener="true">Admin Dashboard</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Abat Branding &amp; Identity<sup>TM</sup></a></h3>
                                            <p class="fs-16 line__clamp">Our project is a comprehensive car washing web
                                                application designed to
                                                enhance convenience and efficiency for users seeking car wash services.
                                                The app allows users to
                                                locate and reserve car wash garages by checking the real-time
                                                availability, see which ones are
                                                occupied or free, and make reservations accordingly. Users can select
                                                from a variety of car
                                                cleaning services, including different types of foam washes and
                                                vacuuming options. Once the car
                                                is handed over for washing, the app enables users to monitor the status
                                                of their car wash in
                                                real-time. Additionally, users can rate and review the car wash
                                                services, helping to improve
                                                quality and customer satisfaction. To ensure seamless service management
                                                and user experience, we
                                                have also developed a robust admin panel for overseeing operations.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full
                                            Project<span><i class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 5"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/dagchynar/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Branding &amp;
                                                Identity</a><a href="/" previewlistener="true">Logo design</a><a
                                                href="/" previewlistener="true">Brand Guideline</a><a href="/"
                                                previewlistener="true">Package Design</a></div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Dagçynar Brand Identity &amp; Packaging<sup>TM</sup></a>
                                            </h3>
                                            <p class="fs-16 line__clamp">Kopetdag Mineral Water's packaging is a
                                                testament to its purity and
                                                natural origin. Specially crafted to preserve the pristine quality of
                                                the water, the packaging
                                                design exudes elegance and sophistication while emphasizing the
                                                product's mineral-rich
                                                properties.</p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full
                                            Project<span><i class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 5"
                                style="width: 880px; margin-right: 40px;">
                                <div class="service-four__item">
                                    <div class="service-four__image mb-20"><img class="w-100"
                                            src="assets/icons/projects/behisht/1.png" alt="image">
                                        <div class="tags"><a href="/" previewlistener="true">Branding &amp;
                                                Identity</a><a href="/" previewlistener="true">Logo design</a><a
                                                href="/" previewlistener="true">Package Design</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap px-3">
                                        <div class="content">
                                            <h3><a href="#0">Behisht Brand Identity &amp; Packaging<sup>TM</sup></a>
                                            </h3>
                                            <p class="fs-16 line__clamp">Behisht's branding and packaging design
                                                exemplify the company's true
                                                vision and values. Every aspect of the design process was meticulously
                                                crafted to capture the
                                                essence of the brand and its offerings. From the logo to the packaging
                                                materials and label
                                                designs, each element reflects Behisht's commitment to excellence,
                                                quality, and authenticity.
                                            </p>
                                        </div><a href="case-study-details.html" class="btn-four"
                                            previewlistener="true">View Full
                                            Project<span><i class="fa-regular fa-arrow-right arry1"></i><i
                                                    class="fa-regular fa-arrow-right arry2"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="mt-40">
                        <div class="position-relative">
                            <div class="service-four__scrollbar-item4 swiper-scrollbar-horizontal">
                                <div class="swiper-scrollbar-drag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>