

<header class="header-area animated menu-fixed fadeInDown">
    <div class="container">
        <div class="header__main">
            <a href="index.html" class="logo">

                <svg xmlns="http://www.w3.org/2000/svg" width="43" height="44" viewBox="0 0 43 44" fill="none">
                    <rect x="0.107422" y="0.611816" width="42.7762" height="42.7762" rx="11.4748" fill="#01B9F9" />
                    <path
                        d="M29.0377 28.8918C29.2177 25.5158 29.47 21.3646 29.5652 19.0817L22.9144 19.7032L22.5871 25.0941C22.5165 27.7833 22.4819 27.8985 19.9474 28.1628L12.6662 28.8272L10.1133 35.4909C12.8508 35.222 19.3511 34.9434 22.4153 34.6291C24.7555 34.389 25.8775 34.1611 27.0418 33.2609C28.5617 32.0856 29.0274 30.0814 29.0377 28.8918Z"
                        fill="white" />
                    <path
                        d="M13.3142 14.8347C13.1882 18.2806 13.0018 22.5172 12.9436 24.8477L19.6698 24.3238L19.9113 18.822C19.8745 16.3821 19.9711 15.9588 22.5339 15.7311L29.4592 14.8347L32.1641 7.81557C29.3956 8.04466 23.0248 8.81416 19.9262 9.08413C17.5599 9.29031 16.4271 9.50438 15.2629 10.4046C13.743 11.5799 13.3047 13.6196 13.3142 14.8347Z"
                        fill="white" />
                </svg>
                <div style="color: black;">Selbi Consulting</div>
            </a>
            <div class="main-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="about-us.html">About Us</a>
                        </li>
                        <li>
                            <a href="/projects.html">Projects</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="menu-btns d-none d-lg-flex gap-1">
                <a class="sign-in" href="sign-up.html">Say Hello</a>

            </div>
            <button class="menubars d-block d-lg-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#menubar">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>


<div class="sidebar-area offcanvas offcanvas-end" id="menubar">
    <div class="offcanvas-header">
        <a href="index.html" class="logo">
            <img src="assets/images/logo/logo-light.svg" alt="logo">
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"><i class="fa-regular fa-xmark"></i></button>
    </div>
    <div class="offcanvas-body sidebar__body">
        <div class="mobile-menu overflow-hidden"></div>
        <div class="d-none d-lg-block">
            <h5 class="text-white mb-20">About Us</h5>
            <p class="paragraph-light fs-16">
                Unleash the full potential of your website and elevate its online presence with our comprehensive
                SEO
                solutions.
            </p>
        </div>
        <div class="sidebar__contact-info mt-30">
            <h5 class="text-white mb-20">Contact Info</h5>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i> <a href="#0">
                        Selbi Consulting, LLC <br /> 11440 W Bernardo Court, Ste 300 <br /> San Diego, CA 92127
                    </a>
                </li>
                <li class="py-2"><i class="fa-solid fa-phone-volume"></i> <a href="tel:8583767273"> (858)
                        376-7273</a>
                </li>
                <li><i class="fa-solid fa-paper-plane"></i> <a href="#0">contact@selbo.consulting</a>
                </li>
            </ul>
        </div>
        <div class="sidebar__btns my-4">
            <a class="sign-in" href="sign-in.html">Book A Call</a>
        </div>
    </div>
</div>

