<div class="brand-area pt-120 pb-120">
    <div class="container">
        <div class="marquee-area">
            <div class="marquee__wrp">
                <div class="marquee__slide brand__slider">
                    <div class="marquee__item-wrp" style="align-items: center;">
                        <div class="marquee__item"><img src="assets/icons/org/1.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/2.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/3.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/4.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/5.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/6.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/7.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/8.png" alt="image"></div>
                    </div>
                    <div class="marquee__item-wrp" style="align-items: center;">
                        <div class="marquee__item"><img src="assets/icons/org/1.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/2.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/3.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/4.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/5.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/6.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/7.png" alt="image"></div>
                        <div class="marquee__item"><img src="assets/icons/org/8.png" alt="image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>